.top
    position: relative
    display: flex
    justify-content: space-around
    border: 2px solid #c69937
    width: 1200px
    margin: 0 auto
    
    &-logo
        display: flex
        justify-content: center
        padding: 15px 
    &-section
        padding: 5px 15px
        display: flex
        width: 33%
        margin: auto  
        font-family: "Jura"
        font-size: 18px
        color: #f7f7f7
        line-height: 40px

        &-2
            display: flex
            justify-content: center
            align-items: top
            user-select: none
        &-3
            flex-direction: column
            text-align: right
            
    &-subscription
        color: #f5f5f5
        font-size: 48px
        font-weight: 700
        letter-spacing: 1px
.phone
    text-decoration: none
    color: #f2f2f2

