.services
    padding: 60px 0 
    &-wrap
        display: flex
        justify-content: space-around
        margin-top: 60px
    &-block
        text-align: center
        background-image: linear-gradient(-177deg, #85b5b9 0%, #578f9c 30%)
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3)
        transition: .4s
        &:hover
            transform: scale(1.05)
            box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2)
        &_text
            display: flex
            align-items: center
            text-align: center
            max-width: 170px
            justify-content: center
            margin: 0 auto
            min-height: 100px      
            font-family: 'Jura'
            color: #fff
            font-size: 18px   
    &-images
       width: 250px
       height: 250px

    