.top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid #c69937;
  width: 1200px;
  margin: 0 auto;
}

.top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.top-section {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  margin: auto;
  font-family: "Jura";
  font-size: 18px;
  color: #f7f7f7;
  line-height: 40px;
}

.top-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.top-section-3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.top-subscription {
  color: #f5f5f5;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
}

.phone {
  text-decoration: none;
  color: #f2f2f2;
}

.main {
  background-color: #fff;
}

.services {
  position: relative;
  height: 80vh;
  z-index: 2;
}

.services-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform-origin: right;
          transform-origin: right;
  background: url(../images/services.jpg);
  background-size: cover;
  -webkit-transform: perspective(1500px) rotateY(25deg);
          transform: perspective(1500px) rotateY(25deg);
}

.services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.services-block {
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
  margin: 0 40px;
}

.services-block:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.services-block_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#3e414c), color-stop(1%, #3e414c), to(#4b4f5a));
  background-image: linear-gradient(to top, #3e414c 0%, #3e414c 1%, #4b4f5a 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 130px;
  font-family: 'Jura';
  color: #fff;
  font-size: 14px;
  position: relative;
  margin: 0 auto;
  -webkit-box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
}

.services-block_text:before {
  content: "";
  position: absolute;
  margin-left: 30px;
  width: 200px;
  height: 100px;
  border: 1px solid #c69937;
}

.services-block_text-card {
  max-width: 130px;
  min-width: 130px;
}

.services-images {
  width: 220px;
  height: 150px;
  -webkit-box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
}

.preferences {
  width: 100%;
  height: 100vh;
  background-size: contain;
}

.preferences-title {
  color: #fff;
  top: 100px;
  left: 50px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#c69937), to(#e0cf5e));
  background-image: linear-gradient(to top, #c69937 0%, #e0cf5e 100%);
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.preferences-title:focus {
  outline: none;
}

.preferences-button {
  padding: 15px;
  cursor: pointer;
  top: 170px;
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

.preferences-button:hover {
  -webkit-box-shadow: 0 0 10px orange;
          box-shadow: 0 0 10px orange;
  color: yellow;
}

.footer {
  background-color: #f3f5f6;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 300px;
  right: 0;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  background-image: url(../images/arrow.svg);
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  -webkit-transition: .4s;
  transition: .4s;
}

#myBtn:hover {
  background-color: lightgrey;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Jura';
}

body {
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 120vh;
  background: url("../images/wash.png") no-repeat;
  background-size: cover;
  background-position: top;
  z-index: 1;
}

.header_menu {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.header_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  margin-top: 80px;
  color: #f5f5f5;
  text-align: right;
  font-size: 25px;
  line-height: 40px;
}

.header-text_border {
  padding: 15px;
  border: 2px solid #c69937;
}

.header-link {
  width: 140px;
  padding: 18px 0;
  color: #2c2c2c;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: 'Jura';
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .4s;
  transition: .4s;
  position: relative;
}

.header-link:before {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(44, 44, 44, 0);
  width: 85%;
  margin: 0 auto;
  -webkit-transition: .4s;
  transition: .4s;
}

.header-link:hover:before {
  bottom: 12px;
  background-color: #2c2c2c;
}

#menu {
  overflow: hidden;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Jura';
  font-size: 40px;
  letter-spacing: 1.5px;
}
/*# sourceMappingURL=style.css.map */