.top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #c69937;
  width: 1200px;
  margin: 0 auto;
}

.top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.top-section {
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
  margin: auto;
  font-family: "Jura";
  font-size: 18px;
  color: #f7f7f7;
  line-height: 40px;
}

.top-section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.top-section-3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.top-subscription {
  color: #f5f5f5;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
}

.phone {
  text-decoration: none;
  color: #f2f2f2;
}

.main {
  background-color: #fff;
}

.services {
  position: relative;
  height: 80vh;
  z-index: 2;
}

.services-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform-origin: right;
          transform-origin: right;
  background: url(../images/services.jpg);
  background-size: cover;
  -webkit-transform: perspective(1500px) rotateY(25deg);
          transform: perspective(1500px) rotateY(25deg);
}

.services-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 70px;
}

.services-block {
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
  margin: 0 40px;
}

.services-block:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
}

.services-block_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#3e414c), color-stop(1%, #3e414c), to(#4b4f5a));
  background-image: linear-gradient(to top, #3e414c 0%, #3e414c 1%, #4b4f5a 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 130px;
  font-family: 'Jura';
  color: #fff;
  font-size: 14px;
  position: relative;
  margin: 0 auto;
  -webkit-box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
}

.services-block_text:before {
  content: "";
  position: absolute;
  margin-left: 30px;
  width: 200px;
  height: 100px;
  border: 1px solid #c69937;
}

.services-block_text-card {
  max-width: 130px;
  min-width: 130px;
}

.services-images {
  width: 220px;
  height: 150px;
  -webkit-box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.3);
}

.preferences {
  width: 100%;
  height: 120vh;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.preferences-title {
  color: #fff;
  margin-bottom: 80px;
}

.preferences-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.preferences-block {
  color: #ffffff;
  margin: 0 40px;
}

.preferences-block_digit {
  font-size: 40px;
  border: 2px solid #c69937;
  border-radius: 50px;
  margin: 0 auto;
  padding: 10px;
  max-width: 70px;
}

.preferences-block_text {
  margin-top: 30px;
  max-width: 100px;
}

.footer {
  background-color: #f3f5f6;
  z-index: 3;
  position: relative;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 300px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../images/arrow.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  -webkit-transition: .4s;
  transition: .4s;
}

#myBtn:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.washcards {
  position: relative;
  z-index: 2;
}

.washcards-background {
  position: absolute;
  width: 100%;
  height: 120%;
  z-index: -1;
  background: url(../images/services.jpg);
  background-size: cover;
  -webkit-transform: skewY(5deg) scale(1.35);
          transform: skewY(5deg) scale(1.35);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.washcards-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  padding-top: -80px;
}

.washcards-block {
  text-align: center;
  max-width: 200px;
  border: 1px solid #c69937;
  padding: 20px;
  margin: 0 20px;
  position: relative;
}

.washcards-block_title {
  font-size: 20px;
  font-weight: 400;
}

.washcards-block_price {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 35px;
}

.washcards-block_time {
  padding: 5px;
  border-top: 1px solid #c69937;
  border-bottom: 1px solid #c69937;
  margin: auto 0;
}

.washcards-block_descr {
  padding: 20px 0;
  line-height: 30px;
}

.washcards-block_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.washcards-phone {
  text-decoration: none;
  color: #000;
  font-size: 22px;
  font-weight: 700;
}

.gallery {
  width: 100%;
  height: 100vh;
  background: url("../images/gallery/gallery.png") no-repeat;
  background-position: top;
}

.gallery-top {
  color: #2f2f2f;
}

.gallery-logo {
  -webkit-filter: brightness(10%);
          filter: brightness(10%);
}

.photos {
  width: 1200px;
  margin: 0 auto;
}

.photos-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.photos-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 80px;
  margin-bottom: 100px;
}

.photos-size {
  width: 395px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-filter: grayscale(60%);
          filter: grayscale(60%);
}

.photos-size:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  position: relative;
  z-index: 2;
  -webkit-filter: none;
          filter: none;
  border-radius: 10px;
}

.filterDiv {
  display: none;
  margin: 0 2px;
  max-width: 33%;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  min-width: 80px;
  font-size: 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Jura';
}

body {
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 120vh;
  background: url("../images/wash.png") no-repeat;
  background-size: cover;
  background-position: top;
  z-index: 1;
}

.header_menu {
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.header_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 790px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  margin-top: 80px;
  color: #f5f5f5;
  text-align: right;
  font-size: 40px;
  line-height: 60px;
}

.header-link {
  padding: 18px;
  color: #2c2c2c;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: 'Jura';
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .4s;
  transition: .4s;
  position: relative;
}

.header-link:before {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(44, 44, 44, 0);
  width: 100%;
  margin: 0 auto;
  -webkit-transition: .4s;
  transition: .4s;
}

.header-link:hover:before {
  bottom: 12px;
  background-color: #2c2c2c;
}

#menu {
  overflow: hidden;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Jura';
  font-size: 36px;
  letter-spacing: 1.5px;
}
/*# sourceMappingURL=style.css.map */